<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{>navbar}}

<!-- main header  -->
<div class="container-fluid main_header">
  <div class="row">
      <div class="col-md-10 col-12 mx-auto">
         
         <div class="main_content">
            <form action="" class="temp_form">
              <input type="text" id="cityName" placeholder="Enter Your city Name " autocomplete="off">
              <input type="submit" value="search" id="submitBtn">

            </form>
         </div>
         <div class="tempInfo">
            <div class="top_layer">
                <p id="day">Tuesday</p>
                <p id="today_date">13 OcT</p>
            </div>
            <div class="main_layer">
                <p id="city_name"> Get Output Here </p>
                <div class="middle_layer data_hide">
                     <p id="temp"><span id="temp_real_val">0</span> <sup>o</sup>C</p>
                    <p id="temp_status" aria-hidden="true"><i class="fa fa-cloud" ></i></p>
                </div>
            </div>
         </div>
    </div>
  </div>
</div>
        
  

<!-- Footer code -->
{{>footer}}


<script src="js/main.js"></script>
<script>

const getCurrentDay = ()=>{
    
    let weekday = new Array(7);
      weekday[0] ="Sunday";
      weekday[1] ="Monday";
      weekday[2] ="Tuesday";
      weekday[3] = "Wednesday";
      weekday[4] = "Thrusday";
      weekday[5] ="Friday";
      weekday[6] ="Saturday";
    
    
    
    var date = new Date();

    const days = document.getElementById('day');
    days.innerText = weekday[date.getDay()];


  };

  const getDate =()=>{
    const month = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
    var day = new Date();
    let date = day.getDate();
    console.log(date);
    let mon = day.getMonth();
    console.log(mon);
    const today_date = document.getElementById('today_date');
    today_date.innerText = `${date} ${month[mon]}`;


  }
 getCurrentDay();
 getDate();

</script>

</body>

</html>